:root{
    --clr-dark:#070a13  ;
    --clr-light:#f1f5f9 ;
    --clr-slate400: #94a3b8;
    --clr-slate600:#475569 ;
    --clr-slate800:#1e293b ;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 2 em;
    box-shadow: 0 10px 20px rgba(225,29,72,0.5),0 6px 6px rgba(225,29,72,0.5),0 0 100px -10px var(--clr-rose);
    cursor: pointer;
}
.rock{
    grid-area: rock;
    color: goldenrod;
}
.paper{
    grid-area: paper;
}
.scissors{
    grid-area: scissors;
}

.rocktxt{
    grid-area: rocktxt;
    padding: 2em;
}
.papertxt{
    grid-area: papertxt;
    padding: 2em;
}
.scissorstxt{
    grid-area: scissorstxt;
    padding: 2em;
}
.score{
    grid-area: score;
    place-self:end center;
    width: 7rem;
    height: 3rem;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    border-radius: 8px;
    border: none;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(225,29,72,0.5),0 6px 6px rgba(225,29,72,0.5),0 0 100px -10px var(--clr-rose);
}
.reset{
    grid-area: reset;
    width: 7rem;
    height: 3rem;
    place-self:end center;
    border: 1px solid rgb(234, 53, 186);
    background-color: var(--clr-rose);
    color: var(--clr-light);
    border-radius:8px ;
    font-weight:bold;
    box-shadow: 0 10px 20px rgba(225,29,72,0.5),0 6px 6px rgba(225,29,72,0.5),0 0 100px -10px var(--clr-rose);
}
.scoreline{
    grid-area: scoreline;
}
.player{
    display: flex;
    grid-area: player;
    gap: 15rem;
    place-self: end center;
}

.youbox{
    display: flex;
    background-color: white;
    color: #475569;
    width: 7rem;
    height: 2rem;
    justify-content: center;
    align-items: center;

}
.computerbox{
    display: flex;
    background-color: white;
    color: #475569;
    width: 7rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}
.moves{
    display: flex;
    gap: 20rem;
    grid-area: moves;
    place-self: start center;
}
.result{
    grid-area: result;
    font-size: 60px;
}
.options{
    display: grid;
    
    margin:5rem auto;
    padding: 1em;
    width: 70vw;
    /* height: 70vh; */
    place-content: center;
    place-items: center ;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 3rem 2rem 9rem  2rem 5rem 2rem 5rem ;
    grid-template-areas:"rock rock paper paper scissors scissors"
    "rocktxt rocktxt papertxt papertxt scissorstxt scissorstxt "
    "player player player player player player"
    "moves moves moves moves moves moves"
    "result result result result result result"
    "scoreline scoreline scoreline scoreline scoreline scoreline"
    "score score score reset reset reset";

}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    
}

btn:hover{
    
}
.btn{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.paper{
    color: goldenrod;
}
img{
    background: transparent;
    background-color: rgba(253, 250, 250, 0.763);
    /* background-color:rgb(138, 28, 28); */
    border-radius: 50%;
    color:goldenrod;
    object-fit: contain;
    width: 50px;
    height: 50px;

}
p{
    color: white;
    font-weight: bold;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    color: var(--clr-light);
    /* margin-bottom: 3rem; */
}